$width-s: 1080px;
$width-m: 1280px;
$width-l: 1920px;

$bp-xl: 87.5em;   // 1400px
$bp-l: 68.75em;   // 1100px
$bp-m: 56.25em;    // 900px;
$bp-s: 600px;    // 600px;
$bp-xs: 450px;
$bp-xxs: 18.75em;    // 300px;