/** PRINCIPALES **/
$color-primary: #0D5F85;
$color-secondary: #EFE8D2;
$color-tertiary: #B61115;

/** TEXTE **/
$color-text-darker: #292929;
$color-text-dark: #5E5F60;
$color-text-light: #fff;

/** GRIS **/
$color-grey-darker: #292929;
$color-grey-dark: #5E5F60;
$color-grey-medium: #DCDBDA;
$color-grey-light: #fafafa;

$white: #fff;
$black: #000;