.presentation {

    &__grid {
      max-width: $width-m;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      row-gap: 3rem;
      column-gap: 3rem;
      align-items: center;
      justify-items: center;
  
      > * {
          justify-items: center;
      }
  
      h2 {
          font-family: $font-display;
          max-width: 40ch;
      }
  
      > figure {
          max-width: 450px;
      }
    }
  }
  
  @media (min-width: $bp-s) {
    .presentation__grid {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  }
  
  