<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 34 37">
	<title>mes enchères</title>
	<path d="M19.4716 32.9613V36.2857H0.25V32.9613H19.4716ZM20.4103 0.857178L32.8691 13.7859L30.6042 16.1396L28.9063 15.5512L24.9386 19.6635L34 29.0667L31.735 31.4171L22.6752 22.0139L18.8245 26.0099L19.2778 27.8915L17.0113 30.2419L4.55244 17.3132L6.819 14.9628L8.62903 15.4315L18.7108 4.97117L18.1453 3.20922L20.4103 0.857178Z" />
</svg>
