<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 115" fill="none">
	<title>à gauche</title>
	<path d="M71.875 19.1666L33.5417 57.5L71.875 95.8333" stroke="#5E5F60" stroke-width="9.58333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
