<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 115" fill="none">
	<title>à droite</title>
	<path d="M38.3333 19.1667L76.6667 57.5L38.3333 95.8334" stroke="#5E5F60" stroke-width="9.58333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
