<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 46 35">
	<title>contact</title>
	<path d="M43.7 0.0153553C43.5041 -0.00511844 43.3066 -0.00511844 43.1106 0.0153553H2.86062C2.60265 0.0193861 2.34639 0.0586099 2.09874 0.131971L22.8706 21.1082L43.7 0.0153553Z" fill="#5E5F60"/>
	<path d="M45.8275 2.04155L24.8975 23.1781C24.3588 23.7211 23.6302 24.0259 22.8706 24.0259C22.1111 24.0259 21.3824 23.7211 20.8438 23.1781L0.100625 2.2019C0.0368567 2.43956 0.00304561 2.68446 0 2.93074V32.0846C0 32.8578 0.302901 33.5994 0.842068 34.1461C1.38124 34.6928 2.1125 35 2.875 35H43.125C43.8875 35 44.6188 34.6928 45.1579 34.1461C45.6971 33.5994 46 32.8578 46 32.0846V2.93074C45.9886 2.62704 45.9304 2.32702 45.8275 2.04155ZM4.84438 32.0846H2.84625V30.0001L13.2969 19.4901L15.3238 21.5455L4.84438 32.0846ZM43.0962 32.0846H41.0838L30.6044 21.5455L32.6312 19.4901L43.0819 30.0001L43.0962 32.0846Z"/>
</svg>
