<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 164 164">
	<title>glisser-déposer une image</title>
	<path d="M100.923 132.462C107.89 132.462 113.538 126.813 113.538 119.846C113.538 112.879 107.89 107.231 100.923 107.231C93.9558 107.231 88.3077 112.879 88.3077 119.846C88.3077 126.813 93.9558 132.462 100.923 132.462Z" fill="#5B5A5A"/>
	<path d="M151.385 82H130.695L127.27 71.6995C126.434 69.1866 124.827 67.0011 122.678 65.4532C120.529 63.9054 117.947 63.0739 115.298 63.0769H86.5478C83.8986 63.0744 81.3159 63.9068 79.1667 65.4558C77.0176 67.0048 75.4112 69.1918 74.5758 71.7058L71.1508 82H50.4615C47.1168 82.0033 43.9099 83.3335 41.5448 85.6986C39.1797 88.0638 37.8495 91.2706 37.8462 94.6154V151.385C37.8495 154.729 39.1797 157.936 41.5448 160.301C43.9099 162.666 47.1168 163.997 50.4615 164H151.385C154.729 163.997 157.936 162.666 160.301 160.301C162.666 157.936 163.997 154.729 164 151.385V94.6154C163.997 91.2706 162.666 88.0638 160.301 85.6986C157.936 83.3335 154.729 82.0033 151.385 82ZM100.923 145.077C95.9329 145.077 91.0548 143.597 86.9056 140.825C82.7564 138.052 79.5225 134.112 77.6129 129.502C75.7032 124.891 75.2036 119.818 76.1771 114.924C77.1506 110.03 79.5536 105.534 83.0822 102.005C86.6108 98.4767 91.1065 96.0737 96.0008 95.1002C100.895 94.1266 105.968 94.6263 110.578 96.536C115.189 98.4456 119.129 101.68 121.902 105.829C124.674 109.978 126.154 114.856 126.154 119.846C126.146 126.535 123.485 132.948 118.755 137.678C114.025 142.408 107.612 145.069 100.923 145.077Z" fill="#5B5A5A"/>
	<path d="M151.385 50.4615H164V63.0769H151.385V50.4615Z" fill="#5B5A5A"/>
	<path d="M151.385 25.2308H164V37.8462H151.385V25.2308Z" fill="#5B5A5A"/>
	<path d="M151.385 0H164V12.6154H151.385V0Z" fill="#5B5A5A"/>
	<path d="M126.154 0H138.769V12.6154H126.154V0Z" fill="#5B5A5A"/>
	<path d="M100.923 0H113.538V12.6154H100.923V0Z" fill="#5B5A5A"/>
	<path d="M75.6923 0H88.3077V12.6154H75.6923V0Z" fill="#5B5A5A"/>
	<path d="M50.4615 0H63.0769V12.6154H50.4615V0Z" fill="#5B5A5A"/>
	<path d="M25.2308 0H37.8462V12.6154H25.2308V0Z" fill="#5B5A5A"/>
	<path d="M0 0H12.6154V12.6154H0V0Z" fill="#5B5A5A"/>
	<path d="M0 25.2308H12.6154V37.8462H0V25.2308Z" fill="#5B5A5A"/>
	<path d="M0 50.4615H12.6154V63.0769H0V50.4615Z" fill="#5B5A5A"/>
	<path d="M0 75.6923H12.6154V88.3077H0V75.6923Z" fill="#5B5A5A"/>
	<path d="M0 100.923H12.6154V113.538H0V100.923Z" fill="#5B5A5A"/>
	<path d="M0 126.154H12.6154V138.769H0V126.154Z" fill="#5B5A5A"/>
	<path d="M0 151.385H12.6154V164H0V151.385Z" fill="#5B5A5A"/>
</svg>
