<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
	 <title>lignes</title>
        <path d="M0 0V8.75H8.75V0H0ZM13.6719 0V8.75H35V0H13.6719ZM0 13.125V21.875H8.75V13.125H0ZM13.6719 13.125V21.875H35V13.125H13.6719ZM0 26.25V35H8.75V26.25H0ZM13.6719 26.25V35H35V26.25H13.6719Z" fill="#5E5F60" />
</svg>