<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33">
    <title>login</title>
    <path d="M12.7519 14.85H0C0.802005 6.51255 7.6415 0 15.9599 0C24.8188 0 32 7.38705 32 16.5C32 25.613 24.8188 33 15.9599 33C7.64311 33 0.803609 26.4875 0 18.15H12.7519V23.1L20.7719 16.5L12.7519 9.9V14.85Z" fill="white" />
</svg>