<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 34 34" fill="#fff">
	<title>se déconnecter</title>
	<path d="M16.9375 33.2857C7.92811 33.2857 0.625 25.8666 0.625 16.7143C0.625 7.56185 7.92811 0.142822 16.9375 0.142822C25.9469 0.142822 33.25 7.56185 33.25 16.7143C33.25 25.8666 25.9469 33.2857 16.9375 33.2857ZM25.0938 23.3428L33.25 16.7143L25.0938 10.0857V15.0571H12.0438V18.3714H25.0938V23.3428Z"/>
</svg>
