<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 38 9">
	<title>menu</title>
	<path d="M22.7781 4.22693C22.787 1.94137 20.9412 0.0813552 18.6554 0.0724727C16.3695 0.0635902 14.5093 1.9092 14.5004 4.19476C14.4915 6.48032 16.3374 8.34033 18.6232 8.34921C20.909 8.3581 22.7693 6.51248 22.7781 4.22693Z" fill="#5E5F60"/>
	<path d="M8.2938 4.17065C8.30268 1.88509 6.45685 0.0250808 4.17102 0.0161983C1.88519 0.00731579 0.0249627 1.85293 0.0160813 4.13849C0.00719983 6.42404 1.85303 8.28406 4.13886 8.29294C6.42469 8.30182 8.28492 6.45621 8.2938 4.17065Z" fill="#5E5F60"/>
	<path d="M37.2625 4.2832C37.2714 1.99764 35.4256 0.13763 33.1398 0.128747C30.8539 0.119865 28.9937 1.96548 28.9848 4.25103C28.9759 6.53659 30.8218 8.3966 33.1076 8.40549C35.3934 8.41437 37.2536 6.56876 37.2625 4.2832Z" fill="#5E5F60"/>
</svg>
