<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 24" fill="white">
	<title>mes messages</title>
	<path d="M23.9509 11.4629C22.8844 10.781 22.0055 9.83537 21.3965 8.71458C20.7874 7.5938 20.4681 6.33443 20.4683 5.0542H1.98026C1.80169 5.05699 1.6243 5.08419 1.45288 5.13507L15.8313 19.6811L23.9509 11.4629Z" fill="white"/>
	<path d="M27.931 12.6356C27.2577 12.6297 26.5882 12.5311 25.9409 12.3425L17.274 21.1166C16.9012 21.4931 16.3968 21.7045 15.871 21.7045C15.3453 21.7045 14.8409 21.4931 14.468 21.1166L0.0696534 6.57056C0.0255125 6.73537 0.00210819 6.90519 0 7.07598V27.2928C0 27.829 0.20967 28.3432 0.582886 28.7224C0.956101 29.1015 1.46229 29.3145 1.9901 29.3145H29.8515C30.3793 29.3145 30.8855 29.1015 31.2587 28.7224C31.6319 28.3432 31.8416 27.829 31.8416 27.2928V11.5136C30.6664 12.2503 29.312 12.6389 27.931 12.6356ZM3.35331 27.2928H1.9702V25.8473L9.2042 18.5592L10.6072 19.9844L3.35331 27.2928ZM29.8316 27.2928H28.4385L21.1846 19.9844L22.5876 18.5592L29.8216 25.8473L29.8316 27.2928Z" fill="white"/>
	<path d="M27.9311 10.1084C30.6788 10.1084 32.9063 7.84558 32.9063 5.05421C32.9063 2.26285 30.6788 0 27.9311 0C25.1833 0 22.9558 2.26285 22.9558 5.05421C22.9558 7.84558 25.1833 10.1084 27.9311 10.1084Z" fill="#B61115"/>
</svg>
