<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 115">
	<title>répondre</title>
	<path d="M109.25 95.9388C109.25 95.9388 96.4562 39.9798 46 39.9798V17.0718L5.75 54.8665L46 93.334V68.2813C73.3873 68.2755 94.967 70.702 109.25 95.9388Z"/>
</svg>
