<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 38 34" fill="none">
	<title>réinitialiser</title>
	<path d="M8.61117 2L2 7.625M2 7.625L8.61117 14.1875M2 7.625L23.7168 7.625C30.2174 7.625 35.7378 12.8937 35.9909 19.3437C36.2591 26.1594 30.5858 32 23.7168 32H7.66483" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
