<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 33 30" fill="none">
	<title>réinitialiser</title>
	<path d="M7.63894 2L2 6.875M2 6.875L7.63894 12.5625M2 6.875L20.5231 6.875C26.0678 6.875 30.7763 11.4412 30.9922 17.0312C31.221 22.9381 26.382 28 20.5231 28H6.83177" stroke="#5E5F60" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
