<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 49 49">
	<title>retour</title>
	<path d="M40.8333 22.4583H15.9863L27.3992 11.0454L24.5 8.16666L8.16667 24.5L24.5 40.8333L27.3788 37.9546L15.9863 26.5417H40.8333V22.4583Z" fill="white"/>
</svg>
