<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 90 90">
	<title>voir</title>
	<path d="M59.0625 45C59.0625 48.7296 57.5809 52.3065 54.9437 54.9437C52.3065 57.5809 48.7296 59.0625 45 59.0625C41.2704 59.0625 37.6935 57.5809 35.0563 54.9437C32.4191 52.3065 30.9375 48.7296 30.9375 45C30.9375 41.2704 32.4191 37.6935 35.0563 35.0563C37.6935 32.4191 41.2704 30.9375 45 30.9375C48.7296 30.9375 52.3065 32.4191 54.9437 35.0563C57.5809 37.6935 59.0625 41.2704 59.0625 45V45Z"/>
	<path d="M0 45C0 45 16.875 14.0625 45 14.0625C73.125 14.0625 90 45 90 45C90 45 73.125 75.9375 45 75.9375C16.875 75.9375 0 45 0 45ZM45 64.6875C50.2214 64.6875 55.229 62.6133 58.9212 58.9212C62.6133 55.229 64.6875 50.2214 64.6875 45C64.6875 39.7786 62.6133 34.771 58.9212 31.0788C55.229 27.3867 50.2214 25.3125 45 25.3125C39.7786 25.3125 34.771 27.3867 31.0788 31.0788C27.3867 34.771 25.3125 39.7786 25.3125 45C25.3125 50.2214 27.3867 55.229 31.0788 58.9212C34.771 62.6133 39.7786 64.6875 45 64.6875V64.6875Z"/>
</svg>
