<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 37 44">
	<title>vendeur</title>
	<path d="M17.7666 26.4328V42.4964H6.86841e-08C-0.000208897 40.1995 0.476403 37.9287 1.39817 35.8351C2.31994 33.7415 3.66575 31.873 5.34621 30.3536C7.02667 28.8342 9.00329 27.6988 11.1448 27.0228C13.2862 26.3468 15.5435 26.1457 17.7666 26.4328ZM15.7926 24.2837C9.24852 24.2837 3.94814 18.8502 3.94814 12.1418C3.94814 5.43347 9.24852 0 15.7926 0C22.3366 0 27.637 5.43347 27.637 12.1418C27.637 18.8502 22.3366 24.2837 15.7926 24.2837ZM27.2283 38.2751L34.2067 31.1216L37 33.983L27.2283 44L20.248 36.8444L23.0413 33.983L27.2264 38.2751H27.2283Z"/>
</svg>
