<svg aria-hidden="true" role="img" class="{{ className|default('') }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115 115">
	<title>dépublier l'enchère</title>
	<path d="M101.535 101.535L13.4646 13.4646L6.6604 20.2208L17.5375 31.0979C12.333 38.9181 9.56486 48.1063 9.58332 57.5C9.58332 83.95 31.05 105.417 57.5 105.417C67.275 105.417 76.3312 102.494 83.9021 97.4625L94.7792 108.34L101.535 101.535V101.535ZM50.7437 79.5417L30.4271 59.225L37.1833 52.4688L50.7437 66.0292L51.6062 65.1667L58.3625 71.9229L50.7437 79.5417ZM65.1187 51.5583L31.0979 17.5375C38.9181 12.333 48.1063 9.56489 57.5 9.58334C83.95 9.58334 105.417 31.05 105.417 57.5C105.417 67.275 102.494 76.3313 97.4625 83.9021L71.875 58.3146L84.5729 45.6167L77.8166 38.8604L65.1187 51.5583V51.5583Z" />
</svg>
